.carousel {
  width: 100%;
  position: relative;

  &__image {
    width: 100%;
    height: auto;
    filter: brightness(90%);
  }

  &__text-wrapper {
    position: absolute;
    // top: 232px;
    top: 51%;
    left: 16px;
  }

  &__title {
    font-family: 'axis';
    color: var(--primary-color);
    font-size: 1.65em;
    letter-spacing: 4px;

    &--alt {
      margin-top: 3px;
      font-family: 'axis';
      color: var(--accent-color);
      font-size: 1.4em;
      letter-spacing: 1.5px;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 50px;
    left: 15px;
    display: flex;
  }

  &__btn {
    margin-right: 15px;
    border: 2px solid var(--primary-color);
    width: 55px;
    height: 55px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
