header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
}

@mixin nav-menu-item-padding {
  padding-inline: .625rem;
}

.nav-menu {
  $nav-menu-height: 4.125rem;

  min-height: $nav-menu-height;

  &__header {
    display: flex;
    min-height: $nav-menu-height;
    justify-content: left;
    align-items: center;
    padding-left: .625rem;
    padding-right: .625rem;
    padding-bottom: 1.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    max-width: var(--max-content-width);

    background-color: var(--primary-color);
    z-index: 1;

    &--hide-vertical {
      transition: all 450ms ease-in-out;
      opacity: 0;
      top: -100%;
    }

    &--show-vertical {
      transition: all 450ms ease-in-out;
      top: $nav-menu-height;
    }

    &--hide-horizontal {
      transition: all 450ms ease-in-out;
      opacity: 0;
      margin-left: -100%;
      top: $nav-menu-height;
    }

    &--show-horizontal {
      transition: all 450ms ease-in-out;
      margin-left: 0;
      top: $nav-menu-height;
    }
  }

  &__item {
    @include nav-menu-item-padding;

    color: var(--secondary-color);
    width: 100%;

    font-family: 'Montserrat-ExtraBold';
    letter-spacing: .125rem;
    font-size: 0.75rem;
    line-height: 4.0625rem;

    border-top: .0625rem solid #f2f2f2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--selected {
      color: var(--accent-color);
    }

    &--no-top-border {
      border-top: 0;
    }

    &:hover {
      color: var(--accent-color);
    }

    > a {
      color: inherit;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .0625rem solid var(--icon-border-color-light);
    width: 2.6875rem;
    height: 2.6875rem;
    color: var(--icon-color-dark);
    font-size: .75rem;

    &:hover {
      border: .0625rem solid var(--icon-border-color-dark);
      color: var(--primary-color);
      background-color: var(--icon-color-dark)
    }
  }

  &__search-item {
    @include nav-menu-item-padding;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 0;

    &-input {
      font-family: 'Montserrat-Bold';
      letter-spacing: .125rem;
      font-size: 0.75rem;
      line-height: 4.0625rem;
      border: 0;
      color: #bbbdbf;

      width: 90%;
    }

    &-icon {
      font-size: .75rem;
    }
  }

  &__title {
    font-family: Pacifico;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--title-font-size);
    letter-spacing: .1875rem;
    font-weight: 400;
  }

  &__cart-dropdown {
    position: relative;
  }

  &__cart-dropdown-content {
    background-color: var(--primary-color);
    display: none;
    position: absolute;
    top: 3.1875rem;
    right: -1rem;
    overflow: hidden;
    z-index: 1;
    width: 7.2rem;

    &--show {
      display: inherit;
    }
  }

  &__cart-dropdown-item {
    font-family: 'Montserrat-Bold';
    font-size: .75rem;
    color: var(--text-color-dark);
    letter-spacing: .0625rem;

    padding-top: 0.75rem;
    padding-bottom: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--accent-color);
    }

    &--non-selectable {
      &:hover {
        color: var(--text-color-dark);
      }
    }
  }

  &__btn {
    justify-self: right;
    display: flex;
    font-size: 1rem;

    &--rightMost {
      padding-right: 0;
    }
  }

  &__icon {
    color: var(--secondary-color);
  }

  &__btnText {
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: .125rem;
    align-self: flex-end;
    margin-left: .6875rem;
  }

  &__vertical-line {
    border-left: .0625rem solid var(--secondary-color);
    height: .9375rem;
    margin-inline: 1rem;
  }
}
