header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
}

@mixin nav-menu-item-padding {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-inline: .625rem;
}

.nav-menu {
  min-height: 4.125rem;

  &__header {
    display: flex;
    min-height: 4.125rem;
    justify-content: left;
    align-items: center;
    padding-left: .625rem;
    padding-right: .625rem;
    padding-bottom: 1.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    width: 100%;
  }

  &__title {
    font-family: Pacifico;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--title-font-size);
    letter-spacing: .1875rem;
    font-weight: 400;
  }

  &__cart-dropdown {
    position: relative;
  }

  &__cart-dropdown-content {
    background-color: var(--primary-color);
    display: none;
    position: absolute;
    top: 3.1875rem;
    right: -1rem;
    overflow: hidden;
    z-index: 1;
    width: 7.2rem;

    &--show {
      display: inherit;
    }
  }

  &__cart-dropdown-item {
    font-family: 'Montserrat-Bold';
    font-size: .75rem;
    color: var(--text-color-dark);
    letter-spacing: .0625rem;

    padding-top: 0.75rem;
    padding-bottom: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--accent-color);
    }

    &--non-selectable {
      &:hover {
        color: var(--text-color-dark);
      }
    }
  }

  &__btn {
    justify-self: right;
    display: flex;
    font-size: 1rem;

    &--rightMost {
      padding-right: 0;
    }
  }

  &__icon {
    color: var(--secondary-color);
  }

  &__btnText {
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 2px;
    align-self: flex-end;
    margin-left: .6875rem;
  }

  &__vertical-line {
    border-left: .0625rem solid var(--secondary-color);
    height: .9375rem;
    margin-inline: 1rem;
  }
}


