:root {
  --primary-color: white;
  --secondary-color: black;
  --accent-color: #9f6263;
  --title-font-size: 1.6em;
  --btn-font-size: 20em;
  --description-text-color: #494949;
  --footer-bg-color: #edeff2;
}
