:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --text-color-dark: #1e2633;
  --accent-color: #985e5b;
  --title-font-size: 1.6rem;
  --btn-font-size: 20rem;
  --description-text-color: #494949;
  --footer-bg-color: #edeff2;
}
