@import './fonts';
@import './resets';
@import './variables';
@import './navMenu';
@import './carousel';
@import './about';
@import './gallery';
@import './footer';

html {
  font-size: 16px;
}

body {
    background-color: var(--primary-color);
    max-width: max(31.25rem, 50%);
    margin: auto;
}

.vertical-line {
  border-left: .0625rem solid var(--secondary-color);
  height: .9375rem;
}

.horizontal-space-filler {
  width: 100%;
}
