@import './fonts';
@import './resets';
@import './variables';
@import './navMenu';
@import './carousel';
@import './about';

body {
    background-color: var(--primary-color);
    max-width: 500px;
    margin: auto;
}

.vertical-line {
  border-left: 1px solid var(--secondary-color);
  height: 15px;
}

.horizontal-space-filler {
  width: 100%;
}
