@font-face {
  font-family: "axis";
  src: url("../fonts/axis.otf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("../fonts/pacifico-regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:root {
  --max-content-width: 100%;
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: #985e5b;
  --icon-color-dark: #1d2533;
  --icon-border-color-light: #ebebeb;
  --icon-border-color-dark: #1e2633;
  --btn-font-size: 20rem;
  --text-color-gray: #404040;
  --text-color-dark: #1e2633;
  --footer-bg-color: #edeff2;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
}

.nav-menu {
  min-height: 4.125rem;
}
.nav-menu__header {
  display: flex;
  min-height: 4.125rem;
  justify-content: left;
  align-items: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 1.25rem;
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: var(--max-content-width);
  overflow-y: auto;
  max-height: calc(100% - 4.125rem);
  background-color: var(--primary-color);
  z-index: 1;
}
.nav-menu__list--hide-vertical {
  transition: all 450ms ease-in-out;
  opacity: 0;
  top: -100%;
  pointer-events: none;
}
.nav-menu__list--show-vertical {
  transition: all 450ms ease-in-out;
  top: 4.125rem;
}
.nav-menu__list--hide-horizontal {
  transition: all 450ms ease-in-out;
  opacity: 0;
  margin-left: -100%;
  top: 4.125rem;
  pointer-events: none;
}
.nav-menu__list--show-horizontal {
  transition: all 450ms ease-in-out;
  margin-left: 0;
  top: 4.125rem;
}
.nav-menu__item {
  padding-inline: 0.625rem;
  color: var(--secondary-color);
  width: 100%;
  font-family: "Montserrat-Bold";
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
  line-height: 4.0625rem;
  border-top: 0.0625rem solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu__item--selected {
  color: var(--accent-color);
}
.nav-menu__item--no-top-border {
  border-top: 0;
}
.nav-menu__item:hover {
  color: var(--accent-color);
}
.nav-menu__item > a {
  color: inherit;
}
.nav-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--icon-border-color-light);
  width: 2.6875rem;
  height: 2.6875rem;
  color: var(--icon-color-dark);
  font-size: 0.75rem;
}
.nav-menu__button:hover {
  border: 0.0625rem solid var(--icon-border-color-dark);
  color: var(--primary-color);
  background-color: var(--icon-color-dark);
}
.nav-menu__search-item {
  padding-inline: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
}
.nav-menu__search-item-input {
  font-family: "Montserrat-Bold";
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
  line-height: 4.0625rem;
  border: 0;
  color: #bbbdbf;
  width: 90%;
}
.nav-menu__search-item-icon {
  font-size: 0.75rem;
}
.nav-menu__title {
  font-family: "Pacifico";
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5625rem;
  letter-spacing: 0.1875rem;
  font-weight: 400;
}
.nav-menu__cart-dropdown {
  position: relative;
}
.nav-menu__cart-dropdown-content {
  background-color: var(--primary-color);
  display: none;
  position: absolute;
  top: 3.1875rem;
  right: -1rem;
  overflow: hidden;
  z-index: 1;
  width: 7.2rem;
}
.nav-menu__cart-dropdown-content--show {
  display: inherit;
}
.nav-menu__cart-dropdown-item {
  font-family: "Montserrat-Bold";
  font-size: 0.75rem;
  color: var(--text-color-dark);
  letter-spacing: 0.0625rem;
  padding-top: 0.75rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu__cart-dropdown-item:hover {
  color: var(--accent-color);
}
.nav-menu__cart-dropdown-item--non-selectable:hover {
  color: var(--text-color-dark);
}
.nav-menu__btn {
  justify-self: right;
  display: flex;
  font-size: 1rem;
}
.nav-menu__btn--rightMost {
  padding-right: 0;
}
.nav-menu__icon {
  color: var(--secondary-color);
}
.nav-menu__icon-hamburger {
  position: absolute;
  background-color: var(--icon-color-dark);
  width: 1.125rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
}
.nav-menu__icon-hamburger::before, .nav-menu__icon-hamburger::after {
  content: "";
  background-color: var(--icon-color-dark);
  width: 1.125rem;
  height: 0.125rem;
  position: absolute;
  border-radius: 0.0625rem;
  display: block;
  left: -0.0625rem;
  top: -0.0625rem;
}
.nav-menu__icon-hamburger::before {
  transform: translateY(-0.3125rem);
}
.nav-menu__icon-hamburger::after {
  transform: translateY(0.3125rem);
}
.nav-menu__btnText {
  font-family: "Montserrat-Bold";
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  align-self: flex-end;
  margin-left: 0.6875rem;
}
.nav-menu__vertical-line {
  border-left: 0.0625rem solid var(--secondary-color);
  height: 0.9375rem;
  margin-inline: 0.875rem;
}

.icon-hamburger {
  width: 1.125rem;
  height: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-hamburger__bars {
  width: 1.125rem;
  height: 0.1rem;
  background-color: var(--icon-color-dark);
  position: absolute;
  border-radius: 0.0625rem;
  transition: all 450ms ease-in-out;
}
.icon-hamburger__bars::before, .icon-hamburger__bars::after {
  content: "";
  width: 1.125rem;
  height: 0.1rem;
  background-color: var(--icon-color-dark);
  position: absolute;
  border-radius: 0.0625rem;
  margin-left: -0.5625rem;
  transform: rotateZ(0deg);
}
.icon-hamburger__bars::before {
  transform: translateY(-0.4rem);
  transition: all 450ms ease-in-out;
}
.icon-hamburger__bars::after {
  transform: translateY(0.4rem);
  transition: all 450ms ease-in-out;
}
.icon-hamburger--active > .icon-hamburger__bars {
  transition: all 450ms ease-in-out;
  background-color: rgba(255, 255, 255, 0);
}
.icon-hamburger--active > .icon-hamburger__bars::before {
  transform: rotateZ(45deg);
  transition: all 450ms ease-in-out;
}
.icon-hamburger--active > .icon-hamburger__bars::after {
  transform: rotateZ(-45deg);
  transition: all 450ms ease-in-out;
}

.carousel {
  width: 100%;
  height: 450px;
  position: relative;
}
.carousel__slide-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel__slide-track {
  position: relative;
  height: 100%;
  list-style: none;
}
.carousel__slide-track--sliding {
  transition: transform 450ms ease-in;
}
.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.carousel__image {
  width: 100%;
}
.carousel__image-overlay-blue {
  position: absolute;
  opacity: 0.122;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #1d2533;
}
.carousel__text-wrapper {
  position: absolute;
  top: 51%;
  left: 1.1875rem;
}
.carousel__title {
  font-family: "axis";
  color: var(--primary-color);
  font-size: 1.75rem;
  letter-spacing: 0.1875rem;
}
.carousel__title--sub {
  font-family: "Montserrat-Bold";
  font-size: 1.375rem;
  letter-spacing: 0.125rem;
  color: var(--accent-color);
  margin-top: 0.1875rem;
}
.carousel__buttons {
  position: absolute;
  bottom: 3.125rem;
  left: 1.25rem;
  display: flex;
}
.carousel__btn {
  margin-right: 0.875rem;
  border: 0.125rem solid var(--primary-color);
  width: 3.5rem;
  height: 3.5rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.about {
  margin-top: 4.375rem;
}
.about__image-container {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-bottom: 4.375rem;
  display: flex;
  flex-direction: column;
}
.about__image--right {
  margin-left: 1.875rem;
}
.about__image--left {
  margin-right: 2.25rem;
}
.about__image--on-top {
  margin-top: -2.25rem;
}
.about__title {
  margin-left: 0.5625rem;
  font-family: "axis";
  color: var(--text-color-dark);
  font-size: 2.375rem;
  letter-spacing: 0.5rem;
}
.about__title--alt {
  margin-top: 0.5625rem;
  font-family: "Montserrat-Bold";
  color: var(--accent-color);
  font-size: 0.6875rem;
  letter-spacing: 0.0625rem;
}
.about__text {
  margin-top: 1rem;
  margin-left: 0.625rem;
  margin-right: 0.75rem;
  margin-bottom: 4.0625rem;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  color: var(--text-color-gray);
  font-size: 0.75rem;
  line-height: 1.875rem;
  word-break: normal;
  letter-spacing: 0.125rem;
}

.gallery {
  background-color: #f7f7f7;
  padding-top: 0.4375rem;
  padding-bottom: 4.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__image-container {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  margin-top: 2.1875rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery__image {
  flex: 40%;
  margin: 0.3125rem;
  width: 100%;
}
.gallery__title {
  margin-top: 3.375rem;
  margin-left: 0.5625rem;
  font-family: "axis";
  color: var(--text-color-dark);
  font-size: 2.375rem;
  letter-spacing: 0.5rem;
}
.gallery__title--alt {
  margin-top: 0.75rem;
  font-family: "Montserrat-Bold";
  color: var(--accent-color);
  font-size: 0.6875rem;
  letter-spacing: 0.0625rem;
}

.footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.75rem;
  padding-bottom: 1.875rem;
}
.footer__header {
  font-family: "Montserrat-Bold";
  font-size: 0.75rem;
  color: var(--text-color-dark);
}
.footer__icons {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
}
.footer__icon {
  border-radius: 50%;
  border: 0.125rem solid var(--icon-border-color-dark);
  color: var(--icon-color-dark);
  width: 2.125rem;
  height: 2.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.2813rem;
}
.footer__company-title {
  font-family: "Pacifico";
  letter-spacing: 0.125rem;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  color: var(--text-color-dark);
}
.footer__copyright-text {
  font-family: "axis";
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  margin-top: 1.5rem;
  text-align: center;
  color: var(--text-color-dark);
}

html {
  font-size: 100%;
}

body {
  background-color: var(--primary-color);
  max-width: var(--max-content-width);
  margin: auto;
}

.horizontal-space-filler {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}